/* Estilização corpo da página */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    min-height: 100vh;
}
 
/* Estilização cabeçalho */
header {
    background-color: #3498db;
    height: 10vh;
    position: fixed;
    top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
}
 
/* Estilização menu */
.menu-btn {
    font-size: 32px;
    cursor: pointer;
    background: none;
    border: none;
    color: #111;
}
 
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
 
.menu a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
 
.menu a:hover {
    color: #f1f1f1;
}
 
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: #818181;
}
 
/* Estilização dos textos */
h1 {
    color: #ff6f3c;
}
 
p {
    font-size: 16px;
    line-height: 1.5;
}
 
/* Estilização section(lado direito) */
section {
    flex: 1;
    width: 50%;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;  
    flex-direction: column;
    text-align: center;
}
 
.charts-estado {
    margin-top: 100px;
    margin-bottom: 100px;
    flex: 1;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;  
    flex-direction: column;
    align-items: center;
}
 
/* Estilização do article(lado esquerdo) */
article {
    background-color: #f0f0f0;
    padding: 20px;
    width: 50%;
    text-align: center;
   
}
 
/* Estilização Imagem */
.ima {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}
 
/* Estilização botão entrar dashboard */
.button-container {
    text-align: center;
    margin-top: 20px;
}
 
.dashboard-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f3c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
 
.dashboard-button:hover {
    background-color: #0e476d;
}
 
/*Estilização footer (rodapé)*/
footer {
    background-color: #2980b9;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}
 
@media (max-width: 768px) {
    section, article {
        width: 100%;
    }
}
 
aside {
    width: 160px;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 10vh);
    position: sticky;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
aside a {
    display: block;
    padding: 8px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}
 
aside a:hover {
    background-color: #ddd;
}
 
aside a.selected {
    background-color: #4caf50;
    color: #fff;
}
 
 
 
.chart-container, .charts-estado {
            width: 500px;
            height: 400px;
            /*max-width: 100px;  Defina a largura máxima desejada */
            margin: 0 auto;   /* Centraliza o gráfico na tela */
            align-items: center;
        }
.estado-dropdown {
    width: 150px; /* Ajuste conforme necessário */
    margin-right: 10px; /* Espaço entre o select e o botão */
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
 
.lateral-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.estado-dropdown {
    width: 250px; /* Ajuste conforme necessário */
    margin-bottom: 10px; /* Ajuste conforme necessário */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
#buscar {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
}
#content {
    display: flex;
    flex-wrap: wrap;
}
 
/*.charts-estado {
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
}*/
 
 
.chart-container {
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%; /* Ajuste conforme necessário */
    height: auto;
    box-sizing: border-box;
}
 
/* Ajuste a largura e a altura dos gráficos conforme necessário */
canvas {
    width: 100%;
    height: 200px; /* Ajuste conforme necessário */
}
/*SEction de texto da pagina de quem somos*/
#descricao,  #equipe{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
 
#descrição {
    background-color: #f8f8f8;
}
 
 
 
 
 
/* Estilização da imagem arredondada */
 
 
 
/* Estilização dos membros */
#equipe {
    display: flex;
    justify-content: space-around; /* Ou use 'space-between' se quiser mais espaçamento entre os membros */
    flex-wrap: wrap;
}
 
.membro {
    width: 250px;
    margin: 10px;
    text-align: center;
}
 
/* Estilização da imagem arredondada */
.foto-arredondada {
    border-radius: 50%;
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    object-fit: cover;
}